In [9]:
import pandas as pd
df = pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [12]:
import numpy as np
import scipy.stats as stats

numeric_cols = df.select_dtypes(include=[float, int]).columns # Select numaric variables

df_zscore = df.copy()
df_zscore[numeric_cols] = df[numeric_cols].apply(stats.zscore)

df_zscore.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,-1.433140,M,ATA,0.410909,0.825070,-0.551341,Normal,1.382928,N,-0.832432,Up,-1.113115
1,-0.478484,F,NAP,1.491752,-0.171961,-0.551341,Normal,0.754157,N,0.105664,Flat,0.898380
2,-1.751359,M,ATA,-0.129513,0.770188,-0.551341,ST,-1.525138,N,-0.832432,Up,-1.113115
3,-0.584556,F,ASY,0.302825,0.139040,-0.551341,Normal,-1.132156,Y,0.574711,Flat,0.898380
4,0.051881,M,NAP,0.951331,-0.034755,-0.551341,Normal,-0.581981,N,-0.832432,Up,-1.113115

In [13]:
# Remove outlires
df_no_outliers = df[(df_zscore[numeric_cols] < 3).all(axis=1) & (df_zscore[numeric_cols] > -3).all(axis=1)]
df_no_outliers

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [31]:

df1 = df_no_outliers.copy()
df1.Sex.replace(
    {
        'F': 0,
        'M': 1
    },
    inplace=True)

df1.ChestPainType.replace(
    {
        'ATA': 1,
        'NAP': 2,
        'ASY': 3,
        'TA':4
    },
    inplace=True
)

df1.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)



df1.head()

C:\Users\21061\AppData\Local\Temp\ipykernel_22952\356359649.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Sex.replace(
C:\Users\21061\AppData\Local\Temp\ipykernel_22952\356359649.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.Sex.replace(
C:\Users\21061\AppData\Local\Temp\ipykernel_22952\356359649.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.ChestPainType.replace(
C:\Users\21061\AppData\Local\Temp\ipykernel_22952\356359649.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.ChestPainType.replace(
C:\Users\21061\AppData\Local\Temp\ipykernel_22952\356359649.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.RestingECG.replace(
C:\Users\21061\AppData\Local\Temp\ipykernel_22952\356359649.py:19: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.RestingECG.replace(

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,N,0.0,Up,0
1,49,0,2,160,180,0,1,156,N,1.0,Flat,1
2,37,1,1,130,283,0,2,98,N,0.0,Up,0
3,48,0,3,138,214,0,1,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,1,122,N,0.0,Up,0

In [35]:
df2 = pd.get_dummies(df1, drop_first=True)
df2 = df2.replace({True: 1, False: 0})
df2.head()

C:\Users\21061\AppData\Local\Temp\ipykernel_22952\1814060525.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = df2.replace({True: 1, False: 0})

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,HeartDisease,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,1,1,140,289,0,1,172,0.0,0,0,0,1
1,49,0,2,160,180,0,1,156,1.0,1,0,1,0
2,37,1,1,130,283,0,2,98,0.0,0,0,0,1
3,48,0,3,138,214,0,1,108,1.5,1,1,1,0
4,54,1,2,150,195,0,1,122,0.0,0,0,0,1

In [37]:

X = df2.drop("HeartDisease",axis='columns')
y = df2.HeartDisease

X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,1,1,140,289,0,1,172,0.0,0,0,1
1,49,0,2,160,180,0,1,156,1.0,0,1,0
2,37,1,1,130,283,0,2,98,0.0,0,0,1
3,48,0,3,138,214,0,1,108,1.5,1,1,0
4,54,1,2,150,195,0,1,122,0.0,0,0,1

In [38]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42815446,  0.515943  , -1.69640215, ..., -0.8229452 ,
        -0.99888827,  1.13469459],
       [-0.47585532, -1.93819859, -0.52417653, ..., -0.8229452 ,
         1.00111297, -0.88129441],
       [-1.7455875 ,  0.515943  , -1.69640215, ..., -0.8229452 ,
        -0.99888827,  1.13469459],
       ...,
       [ 0.3706328 ,  0.515943  ,  0.64804909, ...,  1.21514774,
         1.00111297, -0.88129441],
       [ 0.3706328 , -1.93819859, -1.69640215, ..., -0.8229452 ,
         1.00111297, -0.88129441],
       [-1.63977649,  0.515943  , -0.52417653, ..., -0.8229452 ,
        -0.99888827,  1.13469459]])

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [40]:
X_train.shape

(719, 12)

In [41]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.8611111111111112

In [45]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

array([[ 93.13022371,  29.68736467],
       [-16.33839168,  14.80162286],
       [ 82.67133417, -38.89837753],
       ...,
       [-68.22707538, -17.70136491],
       [ 40.02834559,  33.47396962],
       [-20.61238526,  37.61828101]])

In [46]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [47]:

from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

0.6666666666666666